body {
  margin: 0;
  height: 100vh;
  background-color: #19a1ad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  color: #31374e;
  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-position: top -560px left -330px, left 650px top 330px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 587px) {
  body {
    background-position: top -560px left -730px, left 150px top 330px;
  }
}

h1,
p {
  margin: 0;
  padding: 0;
}
.card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  /*CON ESTO ELIMINO LOS BORDES SALIENTES DE LA IMAGEN.*/
  overflow: hidden;
  background-color: white;
  position: relative;
}

.card__barrasuperior {
  height: 130px;
  background-image: url("bg-pattern-card.svg");
}

.card__contenido {
  background-color: white;
  padding-top: 60px;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card__img {
  border-radius: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border: 6px solid white;
}

.card__nameAge {
  width: 100%;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.card__age {
  color: #80808d;
  margin-left: 10px;
}

.card__city {
  color: #80808d;
  margin-top: 8px;
}

.card__allinfo {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card__info {
  font-size: 0.7rem;
}

.card__statsName {
  color: #80808d;
}
